# Data Science Tools and Ecosystem

## Author

Matthew A Hernandez

Welcome to the data science (DS) notebook. Today you will get a crash course over existing DS tools and examples of its ecosystem.

**Objectives:**
- List popular languages for DS
- Perform simple arithmetic
- Practice using Jupyter Notebooks

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia

Some of the commonly used libraries by Data Scientists include:
1. TensorFlow
2. SciKit-Learn
3. Pandas

|Data Science Tools|
--------------------
|Git|
|RStudio|
|Anaconda|

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply then add integers

In [1]:
(3*4)+5

17

This will convert 200 minutes to hours by dividing by 60

In [5]:
200 / 60

3.3333333333333335